.katerina {
  background-color: red;
  height: 40px;
  width: 40px;
}

.anastasis {
  background-color: blue;
  height: 60px;
  width: 60px;
}

.manmu {
  background-color: green;
  height: 80px;
  width: 80px;
}
